@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<dl>
    <dt>
        <label for="FileUpload_FormFile">File</label>
    </dt>
    <dd>
        <input id="FileUpload_FormFile" type="file" accept=".csv, .xml"
               name="FileUpload.FormFile" />
    </dd>
</dl>

<button class="btn btn-primary" onclick="uploadFile()">Upload</button>

<div style="margin-top:15px">
    <output id="result"></output>
    <p id="error-detail"></p>
</div>


<script>

    function uploadFile() {
        var resultElement = document.getElementById("result");
        var detailElement = document.getElementById("error-detail");
        var formData = new FormData();
        var file = $('#FileUpload_FormFile')[0].files[0];
        formData.append('formFile', file);

        $.ajax({
            url: '/api/Transactions',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                console.log(response);
                resultElement.value = 'Result : ' + response;
                detailElement.innerText = '';
            },
            error: function (response) {
                console.log(response);
                resultElement.value = 'Result : ' + response.status;
                detailElement.innerText = response.responseText;
            }
        });
    }
</script>